.container {
    width: 1200px; /* Ширина макета */
    position: fixed;
    /*display: inline-block;*/
    margin-top: 55px;
}

#open {
    width: 400px; /* Ширина левой колонки */
    float: left;

}
#close {
    width: 400px; /* Ширина правой колонки */
    float: right;

}
#doing {
    margin: 0 400px 0 400px; /* Отступ на ширину левой и правой колонки*/

}

.head-open{
    width: 400px;
    height: 80px;
    left: 0px;


    background: #1773FD;
}